@font-face {
    font-family: 'Roboto';
    src: url('fonts/RobotoFlex-VariableFont.ttf') format('truetype');
    font-weight: 100 300 400; /* Задать допустимые веса */

}
body{
        background-color: #e6f1ed;
        font-family: Roboto, sans-serif;
}
.product-card-container { 

     display: flex;
     flex-direction: column;
      overflow: hidden;
       padding: 171px 77px 73px;
        }
.product-info-wrapper { align-self: end; display: flex; width: 100%; max-width: 1262px; gap: 20px; justify-content: space-between; }
.thumbnail-list { display: flex; flex-direction: column; gap: 16px; }
.thumbnail-image { border-radius: 20px; background-color: #d9d9d9; height: 91px; width: 91px; }
.product-main-image { border-radius: 40px; background-color: #d9d9d9; width: 613px; height: 412px; }
.product-details { display: flex; flex-direction: column; font-family: Roboto, sans-serif; font-weight:100; }
.product-sku { color: #8f9996; font-size: 20px; font-weight: 200; }
.product-title { color: #000; font-size: 32px; font-weight: 400; margin-top: 9px; }
.purchase-options { border-radius: 14px; background-color: #f9f9f9; margin-top: 37px; padding-bottom: 16px;width: 447px;height:138px; }
.unit-selector {

 border-radius: 14px;
  background-color: #fff;
  display: flex;
  align-items: center;
  padding: 0 33px; 
  gap: 40px; 
  font-size: 24px;
   }
.unit-option { color: #8f9996; font-weight: 300; }
.unit-option-active { border-radius: 14px; background-color: #ba7355; color: #fff; font-weight: 400; padding: 9px 67px; }
.price-container { display: flex; gap: 30px; font-size: 36px; color: #ba7355; font-weight: 400; margin: 26px 33px 0; }
.amount{
    border-radius:6px;
    background-color:#fff;
    display:flex;
    align-items:center;
    justify-content:space-around;
    width:144px;
    height:41px;
    p{
    cursor: pointer;
    font-weight:100;
    font-size:50px;
    color:#BA7355;
    }
    h6{
    cursor: pointer;
        font-weight:100;
        font-size:30px;
        color:#8F999680;
    }
    h3{

                color:#BA7355;
            font-size:20px;
            font-weight:400px;
    }
}
.price-separator { aspect-ratio: 3.51; width: 144px; border-radius: 6px; }
.add-to-cart-btn {border:0; width:222px; border-radius: 14px; background-color: #ba7355; margin-top: 83px; font-size: 24px; color: #fff; font-weight: 400; padding: 12px 54px; cursor: pointer; }
.product-info-title { color: #ba7355; margin: 25px 0 0 0; font: 400 36px Roboto, sans-serif; }
.product-description { color: #8f9996; margin-top: 9px; font: 200 24px Roboto, sans-serif; }
.product-image { width: 629px; margin-top: 50px; }
.related-products-title { color: #000; margin-top: 29px; font: 400 32px Roboto, sans-serif; }
.related-products-grid { margin-top: 120px; display: grid; grid-template-columns: repeat(4, 1fr); gap: 20px; }
.product-card { border-radius: 21px; background-color: #fff; padding-bottom: 16px; }
.product-card-image { border-radius: 21px; background-color: #e1c063; height: 210px; margin-top: -70px; }
.product-card-title { color: #ba7355; font-size: 20px; font-weight: 400; margin: 13px 0 0 10px; }
.more-products-text { color: #8f9996; font-size: 24px; font-weight: 300; margin-top: 34px;white-space:nowrap; }

@media (max-width: 991px) {
    .product-card-container { padding: 100px 20px 0; }
    .product-info-wrapper { max-width: 100%; margin-right: 10px; }
    .product-title { max-width: 100%; margin-right: 8px; }
    .purchase-options { max-width: 100%; }
    .unit-selector { max-width: 100%; padding-left: 20px; }
    .unit-option-active { padding: 0 20px; }
    .price-container {display:flex; justify-content:space:between;}
    .add-to-cart-btn { margin-top: 40px; padding: 0 20px; }
    .product-info-title { margin-left: 10px; }
    .product-description { max-width: 100%; margin-right: 10px; }
    .product-image { margin-top: 40px; }
    .related-products-grid { margin-top: 40px; grid-template-columns: 1fr; }
    .product-card { margin-top: 15px; }
}